<h4>Sign Up!</h4>
<em><%=@user_error.to_s%></em>
<form method="post" action="/users/new">
  <input type="text" name="user[first_name]" placeholder="First Name">
  <input type="text" name="user[last_name]" placeholder="Last Name">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" value="Sign up!">
</form>